.pb-carouselWarp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.pb-carouselWarp .pb-carousel {
  position: relative;
  height: 100%;
}
.pb-carouselWarp .pb-carousel li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pb-carouselWarp .pb-carousel li img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.pb-carouselWarp .pb-carousel .pb-this {
  display: block;
  left: 0;
}
.pb-carouselWarp .pb-carousel-ind {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.pb-carouselWarp .pb-carousel-ind li {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}
.pb-carouselWarp .pb-carousel-ind .pb-this {
  background-color: #000;
}
.pb-carouselWarp .pb-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  border: none;
}
.pb-carouselWarp .pb-arrow-prev {
  left: 20px;
  background: #000000 url(../images/arrow-left.png) no-repeat center;
}
.pb-carouselWarp .pb-arrow-next {
  right: 20px;
  background: #000000 url(../images/arrow-right.png) no-repeat center;
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind {
  position: absolute;
  width: 15px;
  top: 50%;
  left: auto;
  bottom: auto;
  right: 20px;
  transform: translateY(-50%);
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind li {
  float: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 5px 0;
}
.pb-carouselWarp[type='updown'] .pb-carousel-ind .pb-this {
  background-color: #000;
}
.pb-carouselWarp[type='updown'] .pb-arrow {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -20px;
  margin-top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.pb-carouselWarp[type='updown'] .pb-arrow-prev {
  top: 20px;
  background: #000000 url(../img/arrow-top.png) no-repeat center;
}
.pb-carouselWarp[type='updown'] .pb-arrow-next {
  top: auto;
  bottom: 20px;
  background: #000000 url(../img/arrow-bottom.png) no-repeat center;
}
